numpy
pandas
setuptools>=50.3.0
keras
tqdm
streamlit
python-dotenv
PyPDF2
spacy>=3.0.0,<4.0.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
SpeechRecognition
google.generativeai
-e git+https://github.com/PortAudio/portaudio.git#egg=portaudio19-dev
PyAudio == 0.2.14
