streamlit-authenticator
Jinja2 >=2.9
contourpy >=1
packaging >=16.8
pillow >=7.1.0
PyYAML >=3.10
tornado >=5.1
xyzservices >=2021.09.1
bokeh==2.4.3
streamlit_bokeh_events
numpy
pandas
setuptools>=50.3.0
keras
tqdm
streamlit
python-dotenv
PyPDF2
spacy>=3.0.0,<4.0.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
SpeechRecognition
google.generativeai
pyaudio
streamlit-webrtc
